{
    "BOT_TOKEN": "YOURVERYLONGTOKENHERE",
    "DATABASE_PATH": "/path/to/yourdb.sqlite3",
    "REQUESTS_TIMEOUT": 120,
    "LOG_FILE": "/path/to/winston.log",
    "LOAD_COGS": ["Events", "Core", "Wiki", "AutoResponder", "Chance", "Streaming", "ErrorHandler"],
    "COGS": {
        "AUTORESPONDER": {
            "ROLES_CAN_EDIT": ["admin", "MOD", "Botperson"],
            "BRACKETS": {
                "1W": "https://docs.google.com/spreadsheets/d/1813_kzNbUgkaX8q6vy3bc6b9dd2hgWvSH3n9WLoZ-_U/",
                "2W": "https://docs.google.com/spreadsheets/d/1I0DLTEFmmEa8TcdE4Eg87VSTUYDLtnaqtP7QNyrtHK4/",
                "1E": "https://docs.google.com/spreadsheets/d/1Pp6pDVbwiKfWqWFssUvoAfz_pFz20gbI2jhreRGZ2Z0/",   
                "2E": "https://docs.google.com/spreadsheets/d/13imxCgrNJvd6O2MgvlDPXLZ0PqLDVn-Wv6n8EYcQIqI/",
                "3E": "https://docs.google.com/spreadsheets/d/13EimPQ7g2BEAPzZ-FXW5wokGnDbDTtdAmlB4o2EST9M/"
            }
        },
        "CORE": {},
        "STREAMING": {
            "ANNOUNCE_WENT_LIVE_CHANNEL_ID": 123456,
            "ENABLE_ANNOUNCE_TASK": true,
            "CLIENT_ID": "abc123",
            "OAUTH_TOKEN": "abc123",
            "GAME_ID": "506455",
            "EXCLUDED_STREAMERS": ""
        },
        "EVENTS": {
            "ANNOUNCE_MATCH_MINS_BEFORE": 5,
            "ANNOUNCE_MATCH_CHANNEL_ID": 123456,
            "ANNOUNCE_APOLOGY": [
                "Dreadfully sorry but",
                "Apologies for the intrusion, however",
                "If it's not incovenient, I'd like to inform you that",
                "According to my records",
                "I've consulted my notes and",
                "I hate to be a bother but",
                "According to my files",
                "Just popping in to say"
            ],
            "ANNOUNCE_HYPE": [
                "AWW SNAP, it's on",
                "LETS GO LETS GO LETS GO",
                "IT'S GO TIME PEOPLE",
                "you need to get pumped right now",
                "AWOOOOGA, AWOOOGA",
                "yo dawg it's that time again",
                "the Hype Machine is about to power up",
                "I believe it's about to get 'real all up in this piece'"
            ],
            "MATCH_CALENDAR_ICS": "https://kqbdiscord.com/matches.ics"
        },
        "CHANCE": {
            "INVALID_DICE_MESSAGES": [
                "Terribly sorry, adventure to all the fantastic worlds you want, but your dice types must be of a non-fantasy nature.",
                "Invented dice are strictly frowned upon.",
                "Dice of the imagination are best left in that realm.",
                "Do not trifle with the dice god! Your dice are invalid. Good day!",
                "What non-euclidean are you trying to get me to roll? I am not a cthulhu.",
                "Nah, hard pass."
            ],
            "EXCESSIVE_ROLL_MESSAGES": [
                "Terribly sorry, adventure to all the fantastic worlds you want, but your dice types must be of a non-fantasy nature.",
                "Invented dice are strictly frowned upon.",
                "Dice of the imagination are best left in that realm.",
                "Do not trifle with the dice god! Your dice are invalid. Good day!",
                "What non-euclidean are you trying to get me to roll? I am not a cthulhu.",
                "Nah, hard pass."
            ],
            "INVALID_SIDE_ERRORS": [
                "I do not recognize the legitmacy of that call.",
                "Call a side. No, not that one.",
                "I love you, but you are making a mockery of the process!",
                "Respect the game, dawg.",
                "Oh so we can just MAKE UP sides now huh? DENIED."
            ],
            "VALID_DICE_TYPES": [
                4,
                6,
                8,
                10,
                12,
                20,
                100,
                1000
            ],
            "FLIP": {
                "WIN_MESSAGE": "Very good, it is indeed",
                "LOSE_MESSAGE": "Dreadfully sorry, but that's",
                "SIDES": ["heads", "snails"],
                "SET_PHRASES": [
                    {
                        "stem": "should i",
                        "positive": "you **should**",
                        "negative": "you **shouldn't**"
                    },
                    {
                        "stem": "should we",
                        "positive": "you **should**",
                        "negative": "you **shouldn't**"
                    },
                    {
                        "stem": "is it",
                        "positive": "it **is**",
                        "negative": "it **isn't**"
                    },
                    {
                        "stem": "are we",
                        "positive": "you **are**",
                        "negative": "you **aren't**"
                    },
                    {
                        "stem": "play on",
                        "positive": "you **should** play on",
                        "negative": "you **shouldn't** play on"
                    }
                ],
                "YES_VARIATIONS": [
                    "YERP",
                    "Obviously yes",
                    "It's clear to everyone here that YEP",
                    "Yes yes yes",
                    "Indubitably, yes",
                    "Fo sho yeah",
                    "You knew it all along, but yes",
                    "Awwwwwwwwww yeaaaaaaah"
                ],
                "NO_VARIATIONS": [
                    "NERP",
                    "Negatory",
                    "No no no no no no no no",
                    "Noooooooooooooooooo",
                    "Quite no I'm afraid",
                    "Nope",
                    "You knew the answer in your heart was **no**, and you were right"
                ],
                "SERVERS": [
                    "east",
                    "west",
                    "central",
                    "japan",
                    "australia",
                    "oceania",
                    "europe"
                ],
                "COLORS": [
                    "blue",
                    "gold",
                    "yellow",
                    "left",
                    "right"
                ]
            }
        }
    }
}
